
p{font-size:28px;}
h3 {color: red; }

ol li {font-family: '黑体'}  /* 使用后代选择器，即选择ol元素的li后代，改变每一项的字体*/

.introduce { font-family: '宋体'; color: blue;}  /*使用类选择器改变 introduce类的 字体和颜色*/

#summary {color: red}  /* 使用id选择器改变总结的颜色  */

#learn_method {color: red}
.learn {color:blue;}  /* 这里html中的元素中，类选择器设置颜色为蓝色，id选择器设置颜色为红色，最终显示红色，因为id选择器优先级高*/

a:link {color: #FF0000}		/* 未访问的链接 */
a:visited {color: #00FF00}	/* 已访问的链接 */
a:hover {color: #FF00FF}	/* 鼠标移动到链接上 */
a:active {color: #0000FF}	/* 选定的链接 */


/*设置背景*/
.content-bg { 
	background: url(../img/bgpic4.jpg) no-repeat;
	background-size: cover;
   	width: 800px;
    height: 1100px;
    position: relative;
}

/*设置内容*/
.content {
	padding-left: 120px;
	padding-top: 100px;
	padding-right: 100px
}
	
/*设置p元素的边框*/
p {
  border:2px solid red;  /* 使用border属性，给所有p元素增加边框*/
}
